{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{blog.blog_title}} {% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-6">
    <h2>{{blog.blog_title}}</h2>
    <h4>Posted By: @{{blog.author}}</h4>
    <i><h6>Published On: {{blog.publish_date}}</h6></i>
    <i><h6>Updated On: {{blog.update_date}}</h6></i>
    <h6>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments</h6>
  </div>
  <div class="col-sm-6">
    <img src="/media/{{blog.blog_image}}" width="100%">
  </div>
  <p>
    {{blog.blog_content|linebreaks}}
  </p>
  <hr>

  </div>

  <br>
  <br>

  {% endblock %}
